*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  background-color: #1b1919;
  block-size: 100%;
  color: #fff;
  display: flex;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  inline-size: 1200px;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.page {
  display: flex;
}

.content {
  align-items: end;
  block-size: 534px;
  display: flex;
  gap: 40px;
  inline-size: 1140px;
  justify-content: space-between;
  margin: auto;
}

.result {
  inline-size: 711px;
}

.result__video-container {
  block-size: 386px;
  inline-size: 711px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.search-form {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 100%;
  margin-block-end: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  inline-size: fit-content;
  position: relative;
  gap: 5px;
}

/* Подчёркивание только для текста чекбоксов при наведении */
.search-form__label-text {
  position: relative;
}

.search-form__label-text::after {
  background-color: white;
  block-size: 1px;
  bottom: -2px;
  content: '';
  inline-size: 100%;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.search-form__label:hover .search-form__label-text::after {
  transform: scaleX(1);
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border-block-end: 1px solid white;
  border-block-start: 1px solid white;
  border-inline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  inline-size: 225px;
  padding: 0px;
  block-size: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__pseudo-checkbox {
  align-items: center;
  block-size: 19px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  inline-size: 19px;
  justify-content: center;
  flex-shrink: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
  block-size: 15px;
  content: "";
  display: block;
  inline-size: 15px;
}

/* УБРАНО постоянное подчёркивание для активного чекбокса */

.search-form__submit-button {
  align-self: end;
  block-size: 34px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  inline-size: 194px;
  line-height: 100%;
  text-align: center;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 399px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  margin-block-end: 26px;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(217 217 217 / 20%);
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  padding: 1px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 2px;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  inline-size: 196px;
  padding: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.more-button {
  block-size: 34px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  inline-size: 100%;
  line-height: 100%;
  margin-block-start: 30px;
  text-align: center;
}